@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

body {
  font-family: "Outfit", sans-serif;
}

@media (max-width: 768px) {
  .primary-navigation {
    transition: 0.3s ease-in-out;
  }

  .primary-navigation[data-visible="true"] {
    opacity: 1;
    transform: skewY(0) rotate(0) translateY(0);
    visibility: visible;
  }
  .primary-navigation[data-visible="false"] {
    opacity: 0;
    transform: skewY(-5deg) rotate(5deg) translateY(-20px);
    visibility: hidden;
  }
}

.policies a {
  color: blue;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-anima {
  padding: 0.5rem;
  background: conic-gradient(
    from 180deg at 50% 61.95%,
    #3186d5 0deg,
    #aa95ff 82.5deg,
    #e0788c 165deg,
    #2f5ce8 268.13deg,
    #3186d5 360deg
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colored 3s infinite linear;
}

@keyframes colored {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.active {
  color: #2f5ce8;
  border-bottom: 1px solid #2f5ce8;
}
